<header>
  <app-header></app-header>
</header>
<main class="container">
  <div class="container__search search">
    <button class="search_button" (click)="open()">Пошук...</button>
  </div>
  <section *ngIf="isDisplayDetails" class="container__details details">
    <app-hospital-details
      [hospital]="chosenHospital"
      (clickedCloseBtn)="onClickCloseBtn()"
    ></app-hospital-details>
  </section>
</main>
<agm-map
  class="map"
  [latitude]="49.42854"
  [longitude]="32.06207"
  [zoom]="zoom"
  (zoomChange)="onZoomChange($event)"
>
  <ng-container *ngFor="let hospital of hospitalsData">
    <ng-container *ngFor="let coordinates of hospital.location">
      <agm-marker
        [latitude]="coordinates.latitude"
        [longitude]="coordinates.longitude"
        (markerClick)="markerClicked(hospital)"
      >
      <agm-overlay
      [latitude]="coordinates.latitude | decr: zoom"
      [longitude]="coordinates.longitude | sum: zoom"
    >
      <div class="descrip-marker" [appDescriptionMarker]="zoom">
        {{ hospital.name }}
      </div>
      </agm-overlay>
    </agm-marker>
    </ng-container>
  </ng-container>
</agm-map>
