<app-header></app-header>
<div class="container">
  <div class="container__search search">
    <button class="search_button" (click)="open()">Пошук...</button>
  </div>
  <section *ngIf="isDisplayDetails" class="container__details details">
    <app-private-doctor-details
      [privateDoctor]="chosenDoctor"
      (clickedCloseBtn)="onClickCloseBtn()"
    ></app-private-doctor-details>
  </section>
</div>
<agm-map
  class="map"
  [latitude]="49.42854"
  [longitude]="32.06207"
  [zoom]="zoom"
  (zoomChange)="onZoomChange($event)"
>
  <ng-container *ngFor="let doctor of privateDoctorsData">
    <ng-container *ngFor="let coordinates of doctor.location">
      <agm-marker
        [latitude]="coordinates.latitude"
        [longitude]="coordinates.longitude"
        (markerClick)="markerClicked(doctor)"
      >
        <agm-overlay
          [latitude]="coordinates.latitude | decr: zoom"
          [longitude]="coordinates.longitude | sum: zoom"
        >
          <div class="descrip-marker" [appDescriptionMarker]="zoom">
            {{ doctor.name }}
          </div>
        </agm-overlay>
      </agm-marker>
    </ng-container>
  </ng-container>
</agm-map>
