<header>
  <app-header></app-header>
</header>
<main class="container">
  <div class="container__search search" placeholder="Аптека: Бажаємо здоров'я">
    <button class="search_button" (click)="open()">Пошук...</button>
  </div>
  <section *ngIf="isDisplayDetails" class="container__details details">
    <app-details
      routeData="/labs"
      [data]="chosenLab"
      (clickedCloseBtn)="onClickCloseBtn()"
    ></app-details>
  </section>
</main>
<agm-map
  class="map"
  [latitude]="49.42854"
  [longitude]="32.06207"
  [zoom]="zoom"
  (zoomChange)="onZoomChange($event)"
>
  <ng-container *ngFor="let lab of labsData">
    <ng-container *ngFor="let coordinates of lab.location">
      <agm-marker
        [latitude]="coordinates.latitude"
        [longitude]="coordinates.longitude"
        (markerClick)="markerClicked(lab)"
      >
        <agm-overlay
          [latitude]="coordinates.latitude | decr: zoom"
          [longitude]="coordinates.longitude | sum: zoom"
        >
          <div class="descrip-marker" [appDescriptionMarker]="zoom">
            {{ lab.name }}
          </div>
        </agm-overlay>
      </agm-marker>
    </ng-container>
  </ng-container>
</agm-map>
